* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    justify-content: center;
    border-bottom: 16px solid #341f97;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
    text-align: center;
}

button{
    background-color: #009432;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

#btn-cancelar {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;

}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-image-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 500ms;
}

.overlay-image-link a {
    text-decoration: none;
    color: #fff;
}

ul li:hover .overlay-image-link {
    opacity: 1;
}